# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg
.eggs/
*.pth
*.whl
pip-log.txt
pip-delete-this.txt
*.sh
log/*
*.log